<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <add key="adout" value="https://nuget.pkg.github.com/leshacsharp/index.json" priority="1"/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" priority="2"/>
  </packageSources>
  <packageSourceCredentials>
    <adout>
      <add key="Username" value="%NUGET_USER%" />
      <add key="ClearTextPassword" value="%NUGET_PASS%" />
    </adout>
  </packageSourceCredentials>
</configuration>